@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');

body {
  margin: 0;
  font-family: "Ribeye Marrow", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
